.moviecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 250px;
    margin: 5px;
    position: relative;
    &-thumbnail {
        z-index: 0;
        left:0;
        top:0;
        border-radius: 5px;
        box-sizing: border-box;
    	margin: 0; padding: 0;
    	display: flex;
    	flex-flow: row wrap;
        img {
            width: 100%;
            object-fit: cover;
            height: 350px;
        }
    }
    &.favour-add {
        &:before{
            content: "\f004";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: orangered;
            font-size: 30px;
            padding-right: 0.5em;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 1;
            animation: fade-in 0.5s forwards;
        }
    }
    &-info {
        background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.5), transparent);
        color: white;
        width: 100%;
        padding: 30px 15px;
        cursor: pointer;
        position: absolute;
        left:0;
        bottom: 35px;
        transition: opacity 0.5s ease;
        height: 80%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &:hover {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
    }
    &-actions {
        button {
            width: 100%;
            height: 35px;
            border: 0;
            color: white;
            background-color: brown;
            font-size: 1rem;
            text-transform: uppercase;
            cursor: pointer;
            outline: 0;
            transition: background-color 0.5s ease;
            &.red {
                background-color: brown;
                &:hover {
                    background-color: red;
                    transition: background-color 0.5s ease;
                }
            }
            &.blue {
                background-color: #2196F3;
                &:hover {
                    background-color: skyblue;
                    transition: background-color 0.5s ease;
                }
            }
        }
    }
    &-title {
        color: white;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &-overview {
        font-size: 0.8rem;
    }
    &-rating {
        text-align: right;
        font-size: 0.1.1rem;
        color: limegreen;
    }
}

@keyframes fade-in {
    0%  { 
        opacity: 0; 
        top: 50px;
    }
    100% { 
        opacity: 1; 
        top: 10px;
    }
}
