.searchbar {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    &:before{
        content: "\f002";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: gray;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 13px;
        left: 10px;
    }
    &:after {
        content: "";
        clear: both;
        display: table;
    }

    input[type=text] {
        float: left;
        width: 80%;
        padding: 5px 40px;
        margin: 8px 0;
        font-size: 17px;
        border: none;
        outline: 0;
        color: gray;
        
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
    button {
        float: left;
        background: #2196F3;
        font-size: 17px;
        width: 20%;
        padding: 13px 30px;
        border: 0;
        color: white;
        cursor: pointer;

        &:hover {
            background: rgb(11, 105, 182);
        }
    }

    @media screen and (max-width: 600px) {
        float: none;
        input[type=text], button {
            float: none;
            display: block;
            text-align: center;
            width: 100%;
            margin: 0;
            padding: 14px 40px;
        }

        input[type=text] {
            border: 1px solid #ccc;
        }
    }
}
